.button {
padding: 40px;
border-radius: 10px;
/* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
font-size: larger;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
